.ltr {
    direction: ltr;
}
.en {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.pr {
    font-family: "IRANSans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.code-editor {
    color: #000;
    direction: ltr;
    font-family: sans-serif;
}
.avoid-page-break-inside {
    page-break-inside: avoid;
}
.table-order {
    .order-handler {
        cursor: ns-resize;
    }

    .ui-sortable-helper {
        background: #fffe6c;
    }
}

.has-overlay {
    position: relative;
    > .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(205, 205, 205, 0.41);
        z-index: 30;
    }

    > .overlay > .loading-img {

    }
}

.plain-label {
    font-weight: normal;
    margin-bottom: 0;
}
.c-pointer {
    cursor: pointer;
}

.pool-helper {
    text-align: left;
    margin-top: 5px;
}
.pools-datatable .input-group .dropdown-menu {
    padding: 5px 0;
    margin: 2px 0 0;

    li {
        border-bottom: 0;
        padding: 0;
    }
}
