.panel {
    position: relative;
    > .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(205, 205, 205, 0.41);
        z-index: 20;
    }

    > .overlay > .loading-img {

    }
}

.tab-content {
    .tab-pane {
        padding-top: 5px;
    }
}
